html, body{
    margin: 0;
    padding: 0;
}
/***************menubar*******************/
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    color: black;
    list-style: none;
    box-sizing: border-box;
}
nav{
    height: 60px;
    width: 100%;
    position: sticky;
    top: 0;
    border-bottom: 1px solid lightgray;
    background-color: #FAFAFA;
    opacity: 0.9;
}
label.logo12{
    font-size: 20px;
    line-height: 55px;
    padding: 0 20px;
    font-weight: bold;
}
nav ul{
    float: right;
    margin-right: 15px;
}
nav ul li{
    display: inline-block;
    line-height: 55px;
    margin: 0 5px;
}
nav ul li a{
    font-size: 15px;
    padding: 7px 13px;
    border-radius: 3px;
}
a.active,a:hover{
    background: lightgrey;
    transition: .5s;
}
.checkbtn{
    font-size: 30px;
    color: gray;
    float: right;
    line-height: 55px;
    margin-right: 30px;
    cursor: pointer ;
    display: none;
}
#check{
    display: none;

}
@media (max-width: 952px){
    label.logo{
        font-size: 30px;
        padding-left: 50px;
    }
    nav ui li a{
        font-size: 16px;
    }
}
@media (max-width: 858px){
    .checkbtn{
        display: block;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: lightblue;
        top: 60px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 20px;
    }
    a:hover, a.active{
        background: none;
        color: lightcoral;
    }
    #check:checked ~ ul{
        left: 0;
    }
}
/********** Awards CSS**********/
@media (max-width: 512px){
    .adjusting { 
        letter-spacing: -0.8px;}}
.eduhead{
    font-size: 30px;
 }
 .op{
     text-align: center;
    margin-top: 80px;
    margin-bottom: 60px;
 }
 /********************************************************/
 .box{
    padding: 20px;
    border-radius: 6px;
    background-color: white;
    border-color: #FAFAFA;
    border-style: groove;
    }
.column{
        width: 400px;
        margin: 20px;
        }
        .centering{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
.bot{
            margin-bottom: 12px;
            font-family: 'Times New Roman';
            font-size: 19px;
            color: gray;
            font-weight: bold;
            text-align: center;
        }
.imgcontainer12{
            height: 200px;
            overflow: hidden;
            border-radius: 3px;
            margin-bottom: 18px;
        }
        .boxtitle{
            font-family: 'Times New Roman';
            font-size: 24px;
            font-weight: bold;
            margin-bottom: 16px;
            color: gray;
            text-align: center;
            text-transform: capitalize;
        }
        body{
            background-color: lightyellow;
        }
        .image{
            width: 100%;
            
        }
 /************************List********************************/
 .listgp{
     width: 400px;
     height: 660px;
 }
 .adjusting{
    margin-bottom: 20px;
    text-align: center;
 }
 .list-group-item{
     text-align: center;
 }
