html, body{
    margin: 0;
    padding: 0;
}
.contactbtn{
    height: 60px;
    width: 100px;
    font-size: 20px;
    border-radius: 30px;
    margin: 0 20px;
}
.conbtncontainer{
    display: flex;
    justify-content: center;
    height: 140px;
}
.firstbtngp{
    display: flex;
}
.btn1{
    background-color: lightblue;
}
.btn3{
    background-color: lightgrey;
}
.btn6{
    background-color: lightyellow;
}
/****************************************/
*{
    margin: 0;
    padding: 0;
    box-sizing: 'Poppins', sans-serif;
}
.contact12{
    position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-size: cover;
}
.contact12 .content12{
    max-width: 800px;
    text-align: center;
}
.contact12 .content12 h2{
    font-size: 36px;
    font-weight: 500;
    color: #fff;
    margin-bottom: 14px;
}
.contact12 .content12 p{
    font-weight: 300;
    color: #fff;
}
.container12{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.container12 .contactInfo{
    width: 50%;
    display: flex;
    flex-direction: column;
}
.container12 .contactInfo .box123{
position: relative;
padding: 20px 0;
display: flex;
}
.container12 .contactInfo .box123 .icon12{
    min-width: 60px;
    height: 60px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22px;
}
.container12 .contactInfo .box123 .icon12 .text{
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color: #fff;
    flex-direction: column;
    font-weight: 300;
}
.container12 .contactInfo .box123 .icon12 .text h3{
    font-weight: 500;
    color: #00bcd4;
}
.contactform{
    width: 40%;
    padding: 40px;
    background: #fff;
}
.contactform h2{
    font-size: 30px;
    color: #333;
    font-weight: 500;
}
.contactform .inputbox{
    position: relative;
    width: 100%;
    margin-top: 10px;
}
.contactform .inputbox input,
.contactform .inputbox textarea{
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
    resize: none;
}
.contactform .inputbox label{
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: #666;
}
.contactform .inputbox input:focus ~ label,
.contactform .inputbox input:valid ~ label,
.contactform .inputbox textarea:focus ~ label,
.contactform .inputbox textarea:valid ~ label{
    color: #e91e63;
    font-size: 12px;
    transform: translateY(-20px);
}
.btnthae
{
    width: 100px;
    background: #00bcd4;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
}
@media (max-width: 991px)
{
    .contact12{
        padding: 50px;
    }
    .container12{
        flex-direction: column;
    }
    .container12 .contactInfo{
        margin-bottom: 40px;
    }
    .container12 .contactInfo,
    .contactform
    {
        width: 100%;
    }
}
body{
    background-color: lightgreen;
}
@media (max-width: 656px)
{
    .conbtncontainer{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .belowgp{
        position: relative;
        min-height: 30vh;
        padding: 10px;
        display: flex;
        justify-content: center;
        background-size: cover;
    }
    .contactbtn{
        margin: 20px;
    }
}
    

